<div *ngIf="!showLogin" class="container container-styles">
  <div class="panel panel-primary">
      <div class="panel-heading">{{pageTitle}}</div>
      <div class="panel-body">
          <div class="row">
              <span class="img-responsive center-block logo-styles"> 
  <span class="glyphicon glyphicon-shopping-cart"> </span>
              </span>
              <div id="div1" class="shadow title-styles">
                  mCart</div>
          </div>
          <br />
          <div class="row">
              <div class="text-center text-styles">An online app to purchase mobile gadgets</div>
          </div>
          <div class="row" style="text-align:center">
              <button class="btn btn-primary" (click)="showLogin=true">Login</button>
          </div>
          <div class="row" style="text-align:center">
            <span *ngFor="let course of courses;  let i = index"> 
                {{i+1}} - {{ course.name }} 
            </span><h4>
                Current choice is {{ value }}
              </h4>
              
            <div [ngSwitch]="value">
                <p *ngSwitchCase="1">First Choice</p>
                <p *ngSwitchCase="2">Second Choice</p>
                <p *ngSwitchCase="3">Third Choice</p>
                <p *ngSwitchCase="2">Second Choice Again</p>
                <p *ngSwitchDefault>Default Choice</p>
              </div>
              <button (click)="nextChoice()">
                Next Choice
        </button>
        <p *appRepeat="5">I am being repeated...</p> 
          </div>
      </div>
  </div>
</div>
<app-login *ngIf="showLogin"></app-login>