<div *ngIf="!showLogin" class="container container-styles">
  <div class="panel panel-primary">
      <div class="panel-heading">{{pageTitle}}</div>
      <div class="panel-body">
          <div class="row">
              <span class="img-responsive center-block logo-styles"> 
  <span class="glyphicon glyphicon-shopping-cart"> </span>
              </span>
              <div id="div1" [class.attr-class]="true" class="shadow title-styles">
                  mCart</div>
          </div>
          <br />
          <div class="row">
              <div class="text-center text-styles" [style.font-size.px]="showLogin==true?22:10">An online app to purchase mobile gadgets</div>
          </div>
          <div class="row" style="text-align:center">
              <button class="btn btn-primary" (click)="showLogin=true">Login</button>
          </div>
          <div class="row" style="text-align:center">
            <!-- <span *ngFor="let course of courses;  let i = index"> 
                {{i+1}} - {{ course.name }} 
            </span><h4>
                Current choice is {{ value }}
              </h4>
              
            <div [ngSwitch]="value">
                <p *ngSwitchCase="1">First Choice</p>
                <p *ngSwitchCase="2">Second Choice</p>
                <p *ngSwitchCase="3">Third Choice</p>
                <p *ngSwitchCase="2">Second Choice Again</p>
                <p *ngSwitchDefault>Default Choice</p>
              </div>
              <button (click)="nextChoice()">
                Next Choice
        </button> -->
        <!-- <p appRepeat #rd="repeat" #ct="changeText">I am being repeated...</p>  -->
        <!-- <ng-template appRepeat #rd="repeat" #ct="changeText">
            <p>I am being repeated...</p>
        </ng-template>        
        <button (click)="rd.repeatElement(5)">Repeat Element</button>
        <button (click)="ct.changeElementText(5)">Change Text</button> 

          </div>
          <h3>Attribute Directive</h3>
            <p [appMessage]="myMessage">Click Here</p>  -->
          <!-- <input [(ngModel)]="pageTitle" (click)="doSomeLog()">
          <h3>{{pageTitle | uppercase }}</h3>
          {{ 25000 | currency:'INR':'symbol' }} 
          <h3>{{pageTitle | titlecase }}</h3> -->
            Sort the list based on
            <select [(ngModel)]="sortoption">
                    <option value="prodName">Product Name</option>
                    <option value="price">Price</option>        
                </select><br/><br/>

            <table border="1">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let products of productsList | sort:sortoption">
                        <td>{{products.productName}}</td>
                        <td>{{products.price}}</td>
                    </tr>
                </tbody>
            </table> 
            <button (click)="show=true">View Courses list</button><br/><br/>
<div *ngIf="show">
    <app-courses-list></app-courses-list>
</div> 
<h2> Popular Courses </h2>

Select a course to view
<select #course (change)="cl.changeCourse(course.value)">
    <option value="Node JS">Node JS</option>
    <option value="Typescript">Typescript</option>
    <option value="Angular">Angular</option>
    <option value="React JS">React JS</option>
</select>
<br/>
<br/>

<app-courses-list list (onRegister)="courseReg($event)" #cl="courselist"></app-courses-list> 
<div *ngIf="message">{{message}}</div> 
      </div>
  </div>
</div>
<app-login *ngIf="showLogin"></app-login>